<h1>
  {{ competition.name }}
</h1>

<p>
  {{ competition.description }}
</p>

<button mat-raised-button class="subject-button" (click)="downloadSubject()">
  <mat-icon>get_app</mat-icon>

  Download the subject
</button>

<h3>
  Instances
</h3>

<mat-list class="instance-list">
  <mat-list-item *ngFor="let instance of competition.instances">
    <h3 matLine>
      {{ instance.name }}
    </h3>
    <p matLine>
      <span> {{ instance.description }} </span>
    </p>

    <button mat-icon-button
            matTooltip="Download instance {{ instance.name }} input"
            (click)="downloadInstanceInput(instance)">
      <mat-icon>get_app</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
